@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "scaffolds";

body {
    padding: 40px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}


